.header{
        position: fixed;
        top: 0;
        background-color: yellow;
        font-size: 20px;
        width: 100%;
        height: 20%;
}
.Rightnav{
    position: absolute;
    right: 0;
    background-color: black;
    font-size: 20px;
    position: fixed;
    height: 100%;
    top: 20%; 
    width: 15%;
}

.content{
    background-color: green;
    font-size: 20px;
    position: fixed;
    height: 100%;
    top: 20%; 
    left: 15%;
    width: 70%;
}

.Leftnav{
    background-color: blue;
    font-size: 20px;
    position: fixed;
    height: 100%;
    top: 20%; 
    width: 15%;
    overflow: hidden;
}

.dashboard{
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: space-evenly;
    max-width: 80%;
  }
  
  .card {
    display: flex;
    align-items: center;
    flex-direction: row;
  }

  .dash{
    width: fit-content;
    margin: 5px;
  }

  .card img {
    width: 20%;
  }

  .Count{
    display: flex;
    flex-direction: column;
    align-items: center;
  }