/*
    DEMO STYLE
*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
  font-family: "Poppins", sans-serif;
  background: #fafafa;
}

p {
  font-family: "Poppins", sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}

.stick {
  box-sizing: border-box;
  position: sticky;
  top: 12%;
}


.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
  perspective: 1500px;
  justify-content: center;
  margin-right: 8%;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  color: white;
  transform-origin: bottom left;
  height: 45em;
}

#sidebar .sidebar-header h2{
  background: #4caf50;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  padding: 5px;
  color: white;
  text-decoration:none;
}

.head-dash{
 text-decoration: none;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 4mm;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: white;
}



/* Accordion */

.sidebar-accordion{
  background-color: #4caf50;
}


#sidebar ul li .accordion {
  font-size: 4mm;
  border-radius: 3px;
  margin: 10px;
  display: flex;
  justify-content: center;
  border: hidden;
}

.accordion-flush .accordion-item{
  background-color: #4caf50;
  color: white;
}

.accordion{
  color: white;
  background-color: #4caf50;
}

.accordion-item button:hover{
  color: black;
  background: #499c38;
}

.accordion-flush .accordion-item .dropdown-item:hover{
  color: black;
  background: #499c38;
}

/* End */



/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

.tables ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.tables ul li {
  font-size: 12px;
  line-height: 1;
  margin-bottom: 10px;
}

.tables table {
  font-size: 12px;
  width: 100%;
  margin-top: 20px;
}

.tables table th,
.tables table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.tables table th {
  background-color: #4caf50;
  color: white;
}

.tables table tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* dashboard */

.dashboard {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: space-evenly;
}

.count{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
}

.borders .card img{
  padding: 10px;
}

@media(max-width: 800px) {
  .dashboard {
    grid-template-columns: repeat(1, auto);
  }
  .borders .card img{
    width: 50%;
    margin-left: 25%;
  }
}

/* Appointment */

/* Adoption */
.Upload {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.Informations {
  margin-bottom: 12px;
}

/* Upload photo for adoption */

.DogInput {
  display: flex;
}
.DInput {
  margin-left: 10px;
}
.Doginput2 {
  display: flex;
}

input[type="text"] {
  display: block;
  margin: 0 auto;
}

input[type="submit"] {
  display: block;
  margin: 0 auto;
}

#dog {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.image-preview {
  position: relative;
  max-width: 200px;
  max-height: 200px;
}

#image-preview {
  width: 60%;
  height: auto;
  object-fit: contain;
}

#choose-file-btn {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  width: 60%;
  height: 50%;
}

/* Dogs for adoption */


h1 {
  text-transform: uppercase;
}

.Dogs {
  display: grid;
  grid-template-columns: repeat(3, auto);
}

.adoption_card {
  padding: 10px;
  margin-bottom: 10px;
  
}

.card-button{
  display: flex;
  align-items: flex-end;
}

.card-button button{
margin-right: 10px;
}

.adoption-details{
  display: flex;
  flex-direction: column;
  align-items: center;

}



/* Dogs Upload */

.button {
  height: 35px;
  width: 100%;
  border-radius: 5px;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: #7ab730;
  display: flex;
  margin-left: 12px;
  margin-top: 7px;
}

.HoverButton {
  background-color: #7ab730;
  color: white;
}

.HoverButton:hover {
  color: black;
  background: #499c38;
}

input[type="submit"] {
  background-color: #7ab730;
  border: none;
}
/* Dogs Upload end */

/* announcement */

.AddAnnounce {
  display: flex;
  align-content: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 10px;
}

.Imgprev {
  display: grid;
  padding: 10px;
}

.Imgprev textarea {
  margin-bottom: 10px;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
